.story {
  width: 75%;
  background-color: $color-white;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  padding: 6rem;
  padding-left: 9rem;
  margin: 0 auto;
  border-radius: 3px;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  & > * {
    transform: skewX(12deg);
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    //width & height & float must be declare then we can use shape-outside
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);


  }

  &__img {
    height: 100%;
  }
}